.padding-0{
    padding-right:0;
    padding-left:0;
}

.page-header h1 {
    font-family: 'Pacifico', cursive;
    text-shadow: black 0.2em 0.2em 0.2em;
}

.page-header .jumbotron {
    margin-bottom: 0px;
    background-image: url("/img/jumbotron_bg.jpeg");
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.2em 0.2em 0.2em;
}
